.copyContent{
  &_wrapper{
    position: relative;
    cursor: pointer;
    &:hover{
      .copyContent_icon{
        display: inline;
      }
    }
    &:active{
      opacity: 0.5;
    }
  }
  &_icon{
    position: absolute;
    right: -20px;
    top: 2px;
    display: none;
    color: #177ddc;
  }
}
